.header_navbar {
  padding: 24px 0;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menubar {
  display: flex;
  align-items: center;
}

.menuItem {
  position: relative;
}
.menuItem a {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  position: relative;
}

.menuItemWithChildren {
  position: relative;
}

.menuItemWithChildren:hover .menuItem_children {
  display: block;
}

.menuItem_children {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  min-width: 200px;
  z-index: 1000;
}

.mic_item {
  padding: 10px;
}

.mic_item a {
  color: #000;
  text-decoration: none;
  display: block;
}
.menuItemWithChildren::after {
  content: "";
  width: 7px;
  height: 7px;
  border-left: 1.5px solid;
  border-top: 1.5px solid;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 700;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  transform: rotate(225deg) translateY(2px);
}
