
.product_heading {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 40px;
  }
 .product_heading h4 {
font-family: "poppins",sans-serif;
font-size: 40px;
font-weight: 500;
line-height: 44px;
letter-spacing: -0.4000000059604645px;
text-align: left;

  }
  @media (max-width:575px) {
    
 .product_heading h4 { 
  font-family: "poppins",sans-serif;
font-size: 34px;
font-weight: 500;
line-height: 38px;
letter-spacing: -0.6000000238418579px;
text-align: left;

 }
  }