.shop_box {
    position: relative;
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
  }
  .shop_content{
    position: absolute; 
    bottom: 40px;
    left: 50px; 
  }
  .contentTop {
    top: 50px;
    left: 50px;
  }
  .contentBottom { 
    bottom: 40px;
    left: 50px;
  }
  
  .title {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
  }
  .shop_btn{
    border-bottom: 1px solid #121212 ; 
font-family:  "inter", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: -0.4000000059604645px;
text-align: left;

  }
  @media (max-width:575px) {
    .title{ 
      font-family: "poppins",sans-serif;
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: -0.6000000238418579px;
      text-align: left;
      margin-bottom: 8px;;
       color:#121212
    }
  }